*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-image: url("/public/image/tlo4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #560f15;
  border-radius: 20px;
  border: 3px solid black;
}

